body {
    background-color: #eb78e3;

}

h1 {
    color: #6dba5b;
    text-align: center;
}

h1:hover {
    color: blue;
}

button {
    text-align: center;
    margin-left: 48%;
    background: coral;
    border: none;
    border-radius: 10%;
    padding: 15px;
}


button:hover {
    cursor: pointer;
    background: cyan;
    padding: 20px;
}

p {
    height: 100px;
    background-color: bisque;
}